$my-color-theme : #fc2e07;
$my-color-theme-lighter : #fc846c ;
$my-color-theme-light : #ffd7d7;


$primary : $my-color-theme;
$primary-lighter : $my-color-theme-lighter;
$primary-light : $my-color-theme-light;



